/*===RESET STYLE */

* {
  box-sizing: border-box;

}

html {
  line-height: 1.15;

}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  text-align: left;
  background-color: #ffffff;
}

/* =====[HEADER SECTION]====== */

.about-img {
  margin-left: -100px;
  right: -90px
}

.btn {
  padding: 10px 25px;
  border-radius: 100px;
}

.btn-white {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.btn-blue {
  border: 2.4px solid #ffffff;
  color: #ffffff;
}

.hero-text {
  margin-top: 150px;
}

.type-cursor {
  font-size: 45px;
  color: #ffffff;
}

.position-absolute {
  font-weight: 700;
}

/* =====[END HEADER SECTION]====== */



/* ======== [NAVIGATION MENU] ============= */
a {
  color: #0bceaf;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #078571;
  text-decoration: underline;
}

.navbar-light {
  display: none;

}

.navbar-light .navbar-nav .nav-link {
  padding: 25px 10px;
  color: #343a40;
  font-weight: 500;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #0bceaf
}

/* ======== [END NAVIGATION MENU] ============= */


/* ========== [ABOUT SECTION] ============= */
.blue {
  background-color: blue;
  color: white;
}

.blue:hover {
  background-color: rgba(254, 255, 255);
  color: #0f6eeb;
  border-radius: 2px solid blue;
}

.progress {
  border-radius: 10px;
}

.progress .progress-bar {
  width: 0px;
  border-radius: 10px;
  transition: 2s;
}

.display-1 {
  font-size: 160px;
  font-weight: 1000;

}

.position-absolute {
  font-weight: 700;
}

/* ======== [END ABOUT SECTION] ========== */

/* == [Quality] == */
.ex-me {
  margin-top: 35px;
}




/* === [SERVICE] === */
.service-h4 {
  padding-bottom: 30px;
}

.service-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}

.service-box {
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.service-box:hover {
  box-shadow: 0px 1px 13px rgba(27, 27, 27, 0.705);
}

/* === [END SERVICE] === */